<div class="container ">
    <div class="row gx-md-8 text-center gy-4">
        <div class="col-md-6 ">
            <div class="p-3 border bg-light">Total Complaints </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Resolved</div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Pending</div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Inprogress</div>
        </div>
    </div>
    <div class="row p-2 my-5 ">
        <div class="col-sm-6 ">
            <app-chart-comp></app-chart-comp>
        </div>
        <div class="col-sm-6">
            <app-chart-comp></app-chart-comp>
        </div>
    </div>
    <div class="row gx-md-8 text-center gy-4">
        <div class="col-md-6 ">
            <div class="p-3 border bg-light">Total Complaints </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Resolved</div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Pending</div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border bg-light">Inprogress</div>
        </div>
    </div>
</div>